/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  color: #55554b;
  font-family: 'Droid', serif;
  font-size: 20px;
}

header {
  margin-top: 1em;
  margin-bottom: .5em;
  text-align: center;
}

/*****************************************************************************/
/*
/* Blog front page
/*
/*****************************************************************************/

.post-list {
  list-style-type: none;
  margin-bottom: 2em;
}

.post-list li {
  padding-bottom: 1.5em;
  border-bottom: 7px double #EDE2D1;
  margin-bottom: 1.5em;
}

.post-list li:last-child {
  border-bottom: none;
}

.post-list li a {
  color: #55554b;
  font-size: 2.5em;
  line-height: 1.2em;
  text-decoration: none;
  -moz-transition: color .5s;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.post-list li a:hover {
  color: #000;
}

.post-list p {
  color: #aaa;
  font-family: 'Droid', serif;
  font-size: 1em;
}

/*****************************************************************************/
/*
/* Post page
/*
/*****************************************************************************/

.blog-post h1 {
  color: #55554b;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: normal;
}

.blog-post .date-tags {
  color: #aaa;
  font-size: 1em;
  padding-bottom: 1.5em;
  border-bottom: 7px double #EDE2D1;
  margin-bottom: 1.5em;
}

.post-content {
  line-height: 1.5em;
}

.post-content p {
  margin: 1em 0;
}

/*.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  text-decoration: none;
}

.title {
  display: inline-block;
  //margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
  font-size: .8em;
  text-align: right;
}

.footer {
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}*/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post-content pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post-content ul, .post-content ol {
  margin-left: 1.35em;
}

.post-content code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post-content pre code {
  border: none;
}

/* terminal */
.post-content pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post-content pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Font Face
/*
/*****************************************************************************/

@font-face {
  font-family: 'DroidBold';
  src: url('droidserif-bold-webfont.eot');
  src: url('droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('droidserif-bold-webfont.woff') format('woff'),
       url('droidserif-bold-webfont.ttf') format('truetype'),
       url('droidserif-bold-webfont.svg#droid_serifbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid';
  src: url('droidserif-webfont.eot');
  src: url('droidserif-webfont.eot?#iefix') format('embedded-opentype'),
       url('droidserif-webfont.woff') format('woff'),
       url('droidserif-webfont.ttf') format('truetype'),
       url('droidserif-webfont.svg#droid_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
