/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  @media only screen and (min-width: 960px) and (max-width: 1024px) and (orientation : landscape) {
    .introduction {
      background: url(../images/croissant-bg-1280x720.jpg) no-repeat center top fixed;
      max-height: 720px;
       -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
     .introduction {
      background: url(../images/croissant-bg-960x540.jpg) no-repeat center top fixed;
      max-height: 540px;
      -webkit-background-size: 960px 540px;
      -moz-background-size: 960px 540px;
      -o-background-size: 960px 540px;
      background-size: 960px 540px;
    }

    #studio-description h1 {
      margin-top: 2.8em;
    }

    #js-down-button {
      width: 40px;
      height: 40px;
      font-size: 2.5em;
      margin-top: 10%;
    }

    #js-down-button p {
      top: 6px;
      left: 9px;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    .introduction {
      background: url(../images/croissant-bg-800x450.jpg) no-repeat center top fixed;
      max-height: 450px;
      -webkit-background-size: 800px 450px;
      -moz-background-size: 800px 450px;
      -o-background-size: 800px 450px;
      background-size: 800px 450px;
    }

    #studio-description h1 {
      margin-top: 2.5em;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

    .introduction {
      background: url(../images/croissant-bg-800x450.jpg) no-repeat center top fixed;
      max-height: 450px;
      -webkit-background-size: 800px 450px;
      -moz-background-size: 800px 450px;
      -o-background-size: 800px 450px;
      background-size: 800px 450px;
    }

    #studio-description h1 {
      margin-top: 3em;
      font-size: 2em;
    }

    #js-down-button {
      width: 40px;
      height: 40px;
      font-size: 2.5em;
      margin-top: 10%;
    }

    #js-down-button p {
      top: 6px;
      left: 9px;
    }

  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    #js-show-menu {
      display: none;
    }

    #studio-description h1 {
      margin-top: 1.5em;
      font-size: 1.5em;
      line-height: 30px;
      letter-spacing: 5px;
    }

    .introduction {
      background: url(../images/croissant-bg-480x270.jpg) no-repeat center top fixed;
      max-height: 270px;
      -webkit-background-size: 480px 270px;
      -moz-background-size: 480px 270px;
      -o-background-size: 480px 270px;
      background-size: 480px 270px;
    }

    #js-down-button {
      width: 30px;
      height: 30px;
      font-size: 1.5em;
      margin-top: 0%;
    }

    #js-down-button p {
      top: 3px;
      left: 8px;
    }


    .logo-centered {
      margin-top: 10px;
    }

    .about-us h1 {
      font-size: 1.4em;
      line-height: 30px;
    }

    .about-us h2 {
      font-size: 1em;
      text-align: left;
      max-width: 480px;
      padding-left: 10px;
      padding-right: 1px;
    }

    .about-us h2:last-child{
      margin-bottom: 100px;
    }

    #fly-left {
      visibility: visible;
    }

    #fly-right {
      visibility: visible;
    }

    #fly-left-double {
      visibility: visible;
    }

    #fly-right-double {
      visibility: visible;
    }

    .our-process h1 {
      font-size: 2.2em;
      margin-top: 60px;
      margin-bottom: 30px;
    }

    .process-step-container h2 {
      font-size: 1.5em;
    }

    .process-step-container p {
      font-size: 1em;
      font-weight: 600;
      width: 85%;
    }

    .get-started h1 {
      font-size: 1.4em;
      line-height: 1.4em;
    }

    #button-animate {
      visibility: visible;
    }

    .left-copy {
      padding-bottom: 0px;
    }

    .right-credit {
      padding-top: 0px;
    }

    .footer-logo img {
      margin-top: 0px;
    }
  }

  @media only screen and (max-width: 355px){
   /* .introduction {
      background: url(../images/mobile-image.jpg) no-repeat center bottom fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }*/

    .studio-description h1{
      margin-top: 1em;
      font-size: 1.5em;
      line-height: 26px;
    }
  }

/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/

  @font-face {
    font-family: 'Canter';
    src: url('../fonts/canter_light-webfont.eot');
    src: url('../fonts/canter_light-webfont.eot?iefix') format('eot'),
         url('../fonts/canter_light-webfont.woff') format('woff'),
         url('../fonts/canter_light-webfont.ttf') format('truetype'),
         url('../fonts/canter_light-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: light;
    font-style: light;
   }

  @font-face {
    font-family: 'Oranienbaum';
    src: url('../fonts/oranienbaum-webfont.eot');
    src: url('../fonts/oranienbaum-webfont.eot?iefix') format('eot'),
         url('../fonts/oranienbaum-webfont.woff') format('woff'),
         url('../fonts/oranienbaum-webfont.ttf') format('truetype'),
         url('../fonts/oranienbaum-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweathersans-light-webfont.eot');
    src: url('../fonts/merriweathersans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweathersans-light-webfont.woff') format('woff'),
         url('../fonts/merriweathersans-light-webfont.ttf') format('truetype'),
         url('../fonts/merriweathersans-light-webfont.svg#merriweather_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Myriad';
    src: url('../fonts/myriadpro-black-webfont.eot');
    src: url('../fonts/myriadpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-black-webfont.woff') format('woff'),
         url('../fonts/myriadpro-black-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-black-webfont.svg#myriad_problack') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Agilis';
    src: url('../fonts/agilis-webfont.eot');
    src: url('../fonts/agilis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agilis-webfont.woff') format('woff'),
         url('../fonts/agilis-webfont.ttf') format('truetype'),
         url('../fonts/agilis-webfont.svg#agilisregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyriadLight';
    src: url('../fonts/myriadpro-light-webfont.eot');
    src: url('../fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-light-webfont.woff') format('woff'),
         url('../fonts/myriadpro-light-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-light-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geosanslight';
    src: url('../fonts/geosanslight-webfont.eot');
    src: url('../fonts/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geosanslight-webfont.woff') format('woff'),
         url('../fonts/geosanslight-webfont.ttf') format('truetype'),
         url('../fonts/geosanslight-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

   @font-face {
    font-family: 'GeosanslightOblique';
    src: url('../fonts/geosanslight-oblique-webfont.eot');
    src: url('../fonts/geosanslight-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geosanslight-oblique-webfont.woff') format('woff'),
         url('../fonts/geosanslight-oblique-webfont.ttf') format('truetype'),
         url('../fonts/geosanslight-oblique-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

