html, body {
  height: 100%;
}

header {
  background-color: #FFF;
  -moz-box-shadow: 2px 2px 2px 2px #444;
  -webkit-box-shadow: 2px 2px 2px 2px #444;
  box-shadow: 2px 2px 2px 2px #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: none;
}

#fixed-nav-bar {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#nav-bar-logo {
  float: left;
  padding: 15px 10px 12px 10px;
  background-image: url("../images/croissant-io-logo-small-v1.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 80px;
  height: 65px;
}

.nav-bar-menu {
  float: right;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 1.2em;
  padding-top: 35px;
}

.nav-bar-menu ul {
  margin-bottom: 0;
}

.nav-bar-menu li {
  display: inline;
  margin-bottom: 0;
  padding-right: 20px;
}

.nav-bar-menu li a {
  text-decoration: none;
}

.contact-us-button {
  background-color: #ffe0b5;
  border: 1px solid #f9a56d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.contact-us-button:hover {
  color: #444;
  background-color: #f9a56d;
}

.introduction {
  min-height: 100%;
  position: relative;
  background: rgba(43, 30, 15, 0.58);
}

.introduction video {
  background-color: #fffaf0;
}

.video-logo {
  position: relative;
  background-image: url("../images/croissant-io-logo-small-v1.png");
  background-repeat: no-repeat;
  height: 96px;
  width: 150px;
  margin-top: 5px;
}

#studio-description h1 {
  color: #fafafa;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  /*font-size: 4em;*/
  letter-spacing: 7px;
  font-weight: 800;
  line-height: 1.6em;
  margin-top: 148px;
  text-align: center;
  text-shadow: #000 2px 1px;
  text-transform: uppercase;
}

.down-button-container {
  position: relative;
  background-color: #121518;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fafafa;
  cursor: pointer;
  font-size: 2.5em;
  font-weight: bold;
  height: 50px;
  margin-top: 24%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  opacity: 0.7;
  text-align: center;
  width: 50px;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.down-button-container:hover {
  opacity: 1;
}

.down-button-container p {
  position: absolute;
  top: 11px;
  left: 14px;
}

.logo-centered {
   background-image: url("../images/croissant-io-logo-v2.png");
   background-repeat: no-repeat;
   height: 275px;
   width: 275px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
}

.about-us {
  position: relative;
  background-color: #FFF;
  border-top: 3px solid #bbb;
  width: 100%;
  height: auto;
  z-index: -1;
}

.about-us h1 {
  color: #444;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.8em;
  text-align: center;
  /*margin-top: 205px;*/
  margin-bottom: 10px;
}

.tilde-separator {
  color: #bbb;
  font-size: 50px;
  text-align: center;
  width: auto;
  height: 30px;
  margin: 0 auto 10px auto;
}

.about-us h2 {
  color: #444;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 30px;
}

.about-us h2:last-child {
  margin-bottom: 120px;
}

.our-process {
  position: relative;
  background-color: #FFF;
  border-top: 3px transparent #bbb;
  border-bottom: 3px transparent #bbb;
  width: 100%;
  height: auto;
  z-index: -1;
}

.our-process h1 {
  color: #444;
  font-family: 'GeosanslightOblique', Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
}

.first-process-row {
  margin: 30px 0;
}

.second-process-row {
  margin: 0 0 100px 0;
}

.process-step-container {
  text-align: center;
}

.process-step-container h2 {
  color: #444;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.process-step-container p {
  color: #555;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#fly-left {
  visibility: hidden;
}

#fly-right {
  visibility: hidden;
}

#fly-left-double {
  visibility: hidden;
}

#fly-right-double {
  visibility: hidden;
}

.get-started {
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: -1;
}

.get-started h1 {
  color: #444;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 30px;
}

#button-animate {
  visibility: hidden;
}

.get-started-button {
  background: #ffe0b5;
  border: 1px solid #f9a56d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #444;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 3em;
  font-weight: normal;
  height: auto;
  padding: 10px 30px;
  margin-bottom: 100px;
  text-shadow: none;
  text-decoration: none;
  -moz-transition: background .3s;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.get-started-button:hover {
  color: #444;
  background: #f9a56d;
  border: 1px solid #f9a56d;
  font-weight: normal;
}

footer {
  height: 100px;
  background-color: lightgray;
}
