html, body {
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#js-show-menu {
  position: fixed;
  display: block;
  cursor: pointer;
  right: 5%;
  top: 5%;
  text-align: center;
  z-index: 99;
}

nav {
  position: fixed;
  right: 0;
  -webkit-transition: all .25s ease-out 0s;
  transition: all .25s ease-out 0s;
  width: 200px;
  height: 100%;
  background-color: #FFF;
  z-index: 99;
}

.hide {
   -webkit-transform: translateX(200px);
  transform: translateX(200px);
  top: 0;
}

.show {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  top: 0;
}

#nav-bar-logo {
  position: absolute;
  background-image: url("../images/croissant-logo-extra-small.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 80px;
  height: 80px;
  top: 5px;
  left: 436px;
}

.nav-bar-menu {
  position: relative;
  display: block;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 1.2em;
  padding-bottom: 25px;
  text-align: center;
}

.nav-bar-menu ul {
  margin-bottom: 0;
}

.nav-bar-menu li {
  display: inline;
}

.nav-bar-menu li a:hover {
 background: #DBDBDB;
}

.nav-bar-menu li a {
  display: block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(38,38,38);
  -moz-transition: all .025s ease-out 0s;
  -webkit-transition: all .025s ease-out 0s;
  -o-transition: all .025s ease-out 0s;
  transition: all .025s ease-out 0s;
}

.introduction {
  height: 100%;
  position: relative;
  background: url(../images/croissant-bg-1280x720.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.introduction-opacity {
  background: rgba(43, 30, 15, 0.58);
  position: absolute;
  height: 100%;
  width: 100%
}

.introduction video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  display: block;
  width: 100%;
  height: auto;
}

.video-logo {
  position: relative;
  background-image: url("../images/croissant-io-logo-small-v1.png");
  background-repeat: no-repeat;
  height: 96px;
  width: 150px;
  margin-top: 5px;
}

#studio-description h1 {
  color: #fafafa;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  letter-spacing: 7px;
  font-weight: 800;
  line-height: 1.6em;
  margin-top: 5em;
  text-align: center;
  text-shadow: #000 2px 1px;
  text-transform: uppercase;
}

.down-button-container {
  position: relative;
  background-color: #121518;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fafafa;
  cursor: pointer;
  font-size: 2.5em;
  font-weight: bold;
  height: 50px;
  margin-top: 18%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  opacity: 0.7;
  text-align: center;
  width: 50px;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.down-button-container:hover {
  opacity: 1;
}

.down-button-container p {
  position: absolute;
  top: 11px;
  left: 14px;
}

.logo-centered {
   background-image: url("../images/croissant-io-logo-v2.png");
   background-repeat: no-repeat;
   height: 275px;
   width: 275px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
}

.about-us {
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: auto;
  border-bottom: 7px double #EDE2D1;
  z-index: -1;
}

.about-us h1 {
  color: #444;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.8em;
  text-align: center;
  margin-bottom: 10px;
}

.tilde-separator {
  color: #bbb;
  font-size: 50px;
  text-align: center;
  width: auto;
  height: 30px;
  margin: 0 auto 10px auto;
}

.about-us h2 {
  color: #444;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 30px;
}

.about-us h2:last-child {
  margin-bottom: 150px;
}

.our-process {
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: auto;
  z-index: -1;
}

.our-process h1 {
  color: #444;
  font-family: 'GeosanslightOblique', Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
}

.first-process-row {
  margin: 50px 0;
}

.second-process-row {
  margin: 0 0 100px 0;
}

.process-step-container {
  text-align: center;
}

.process-step-container h2 {
  color: #444;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.process-step-container p {
  color: #555;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 85%;
}

#fly-left {
  visibility: visible;
}

#fly-right {
  visibility: visible;
}

#fly-left-double {
  visibility: visible;
}

#fly-right-double {
  visibility: visible;
}

#button-animate {
  visibility: visible;
}

.get-started {
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: -1;
}

.get-started h1 {
  color: #444;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.65em;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.get-started-button {
  background: #FFF;
  border: 1px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  height: auto;
  padding: 7px 16px;
  margin-bottom: 100px;
  text-shadow: none;
  text-decoration: none;
  -moz-transition: background .3s;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.get-started-button:hover {
  color: #444;
  background: #f9a56d;
  border: 1px solid #f9a56d;
  font-weight: normal;
}

.contact-form {
  display: none;
  background-color: #fff;
  padding: 50px;
}

.close-contact-form {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.contact-form h1 {
  color: #444;
  font-family: 'Geosanslight', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.75em;
  margin-bottom: 10px;
  text-align: center;
}

.contact-form p {
  color: #555;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.contact-form-error {
  color: #f92772;
  display: none;
  font-style: italic;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
  background-color: #f7f7f7;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 18px;
  width: 300px;
}

.contact-form textarea {
  height: 100px;
}

.contact-send-button {
  background: #ffe0b5;
  border: 1px solid #f9a56d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  height: auto;
  padding: 7px 16px;
  text-shadow: none;
  text-decoration: none;
  -moz-transition: background .3s;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
  width: 100%;
}

.contact-send-button:hover {
  color: #444;
  background: #f9a56d;
  border: 1px solid #f9a56d;
  font-weight: normal;
}

.after-send-form-container {
  display: none;
}

footer {
  position: relative;
  background-color: rgb(52, 52, 51);
  color: rgb(201, 201, 201);
  z-index: 101;
}

footer p {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.footer-logo {
  position: relative;
  text-align: center;
  width: 50px;
}

.footer-logo img {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
