html, body {
  height: 100%;
}

header {
  background-color: #fffaf0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#fixed-nav-bar {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#nav-bar-logo {
  float: left;
  padding: 15px 10px 12px 10px;
  background-image: url("../images/croissantlogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.nav-bar-menu {
  float: right;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 1.2em;
  padding-top: 30px;
}

.nav-bar-menu ul {
  margin-bottom: 0;
}

.nav-bar-menu li {
  display: inline;
  margin-bottom: 0;
  padding-right: 20px;
}

.nav-bar-menu li a {
  text-decoration: none;
}

.contact-us-button {
  background-color: #ffe0b5;
  border: 1px solid #f9a56d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.contact-us-button:hover {
  color: #444;
  background-color: #f9a56d;
}

.introduction {
  min-height: 100%;
  position: relative;
  background: rgba(254, 190, 110, 0.3);
}

.introduction video {
  background-color: #fffaf0;
}

#logo-centered {
  position: relative;
  background-image: url("../images/croissant-io-logo-v2.png");
  background-repeat: no-repeat;
  height: 275px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 145px;
  visibility: hidden;
}

#studio-description h1 {
  color: #fafafa;
  font-family: 'Myriad', Helvetica, sans-serif;
  font-size: 5em;
  line-height: 1.1em;
  margin-top: 200px;
  text-align: center;
  text-shadow: #000 2px 2px;
}

.down-button-container {
  background-color: #121518;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fafafa;
  cursor: pointer;
  font-size: 2.5em;
  font-weight: bold;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  opacity: 0.7;
  position: relative;
  text-align: center;
  width: 50px;
}

.down-button-container:hover {
  opacity: 1;
}

.down-button-container p {
  position: absolute;
  top: 11px;
  left: 14px;
}

.about-us {
  position: relative;
  background-color: #fffaf0;
  border-top: 3px solid #bbb;
  width: 100%;
  height: auto;
  z-index: -1;
}

.about-us h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.tilde-separator {
  color: #bbb;
  font-size: 50px;
  text-align: center;
  width: auto;
  height: 30px;
  margin: 0 auto 20px auto;
}

.about-us h2 {
  color: #444;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.about-us h2:last-child {
  margin-bottom: 100px;
}

.our-process {
  position: relative;
  background-color: #fffafa;
  border-top: 3px solid #bbb;
  border-bottom: 3px solid #bbb;
  width: 100%;
  height: auto;
  z-index: -1;
}

.our-process h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.first-process-row {
  margin: 30px 0;
}

.second-process-row {
  margin: 0 0 100px 0;
}

.process-step-container {
  text-align: center;
}

.process-step-container h2 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
}

.process-step-container p {
  color: #555;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.get-started {
  position: relative;
  background-color: #fffaf0;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: -1;
}

.get-started h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 30px;
}

.get-started-button {
  background: #ffe0b5;
  border: 1px solid #f9a56d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #444;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 3em;
  font-weight: normal;
  height: auto;
  padding: 10px 30px;
  margin-bottom: 100px;
  text-shadow: none;
  text-decoration: none;
  -moz-transition: background .3s;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.get-started-button:hover {
  color: #444;
  background: #f9a56d;
  border: 1px solid #f9a56d;
  font-weight: normal;
}

footer {
  background-color: white;
}
