html, body {
  height: 100%;
}

header {
  background-color: #fffaf0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#fixed-nav-bar {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#nav-bar-logo {
  float: left;
  padding: 15px 10px 12px 10px;
  background-image: url("../images/croissantlogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.nav-bar-menu {
  float: right;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 1.2em;
  padding-top: 30px;
}

.nav-bar-menu ul {
  margin-bottom: 0;
}

.nav-bar-menu li {
  display: inline;
  margin-bottom: 0;
  padding-right: 20px;
}

.nav-bar-menu li a {
  text-decoration: none;
}

.contact-us-button {
  background-color: #ffe0b5;
  border: 1px solid #f9a56d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.contact-us-button:hover {
  color: #444;
  background-color: #f9a56d;
}

.introduction {
  background-color: #fffaf0;
  height: 800px;
}

#logo-centered {
  position: relative;
  background-image: url("../images/croissant-io-logo-v2.png");
  background-repeat: no-repeat;
  height: 275px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 145px;
  visibility: hidden;
}

#studio-description h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  font-size: 5em;
  line-height: 1.1em;
  text-align: center;
}

.about-us {
  position: relative;
  background-color: #fffaf0;
  border-top: 3px dashed #bbb;
  width: 100%;
  height: auto;
  z-index: -1;
}

.about-us h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.tilde-separator {
  color: #e4e4ea;
  font-size: 50px;
  text-align: center;
  width: auto;
  height: 30px;
  margin: 0 auto 20px auto;
}

.about-us h2 {
  color: #444;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.about-us h2:last-child {
  margin-bottom: 50px;
}

.our-process {
  position: relative;
  background-color: #fef7ff;
  border-top: 3px dashed #bbb;
  border-bottom: 3px dashed #bbb;
  width: 100%;
  height: auto;
  z-index: -1;
}

.our-process h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.first-process-row {
  margin: 30px 0;
}

.second-process-row {
  margin: 0 0 50px 0;
}

.process-step-container {
  text-align: center;
}

.process-step-container h2 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
}

.process-step-container p {
  color: #555;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.get-started {
  position: relative;
  background-color: #fffaf0;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: -1;
}

.get-started h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 30px;
}

.get-started-button {
  background: #ffe0b5;
  border: 1px solid #f9a56d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #444;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 3em;
  font-weight: normal;
  height: auto;
  padding: 10px 30px;
  margin-bottom: 50px;
  text-shadow: none;
  text-decoration: none;
  -moz-transition: background .3s;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.get-started-button:hover {
  color: #444;
  background: #f9a56d;
  border: 1px solid #f9a56d;
  font-weight: normal;
}

footer {
  background-color: white;
}
