html, body {
  height: 100%;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#fixed-nav-bar {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-top: 10px;
}

#nav-bar-logo {
  float: left;
  padding: 15px 10px 12px 10px;
  background-image: url("../images/croissantlogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.nav-bar-menu {
  float: right;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 1.2em;
  padding: 20px 0;
}

.nav-bar-menu ul {
  margin-bottom: 0;
}

.nav-bar-menu li {
  display: inline;
  margin-bottom: 0;
  padding-right: 20px;
}

.nav-bar-menu li a {
  text-decoration: none;
}

.contact-us-button {
  border: 1px solid #f9a56d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.contact-us-button:hover {
  background-color: #ffe0b5;
}

.introduction {
  height: 800px;
}

#logo-centered {
  position: relative;
  background-image: url("../images/croissant-io-logo-v2.png");
  background-repeat: no-repeat;
  height: 275px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 145px;
  visibility: hidden;
}

#studio-description h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  font-size: 5em;
  line-height: 1.1em;
  text-align: center;
}


.our-process {
  position: relative;
  background-color: #efefef;
  //background-image: url("../images/color-desk-background.jpg");
  //background-position: center top;
  //background-size: cover;
  width: 100%;
  height: auto;
  z-index: -1;
}

.our-process h1 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
  text-align: center;
  margin-top: 14px;
}

.process-step-container {
  text-align: center;
}

.process-step-container h2 {
  color: #444;
  font-family: 'Myriad', Helvetica, sans-serif;
}

.process-step-container p {
  color: #555;
  font-family: 'MyriadLight', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.get-started {
  background-color: gray;
  position: relative;
  width: 100%;
  height: 400px;
  z-index: -1;
}

.say-hello {
  position: relative;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.say-hello h2{
  font-family: 'Canter' sans-serif;
  color: white;
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 50px;
}

#connect {
  width: 280px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  color: white;
}

footer {
  background-color: white;
}

.extra-space {
  height: 100px;
}
